/*CSS STYLES*/

 /* DEBUT RULE SETS */

body {				/*Détermine le style à utiliser pour la page puisqu'on a retiré tout les settings par défault // this is called a STATEMENT*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
}

ul {		
  list-style: none;
}

 /* FIN RULE SETS */
 
 /* ul = TYPE element selector -- Affecte tous les types étant le même -- Très large */		/*An element type selector is a selector that targets an element by the tag name. this is an element type selector, because it doesn’t use a class, ID, or other selector to apply the given styles. Instead, it directly targets all HTML5 <ul> elements*/
	/* .image_google = CLASS element selector -- Affecte tout ce qui a la meme classe -- Bit more targeted*/
		/* # = ID element selector -- Most precise*/
		
/* .nav ul *  // the asterisk character is the universal selector */
.image_google{	/*Affectation d'attribut a la CLASSE image_google -- ID non nécessaire puisqu'il est seul a se nommer ainsi*/
	
	display: block;	/*block = image en bloc donc pas dans le texte  -- Affiché sur une nouvelle ligne */
	clear: both;		/*assure que rien n'affiche des deux cotés de l'image*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;	/*aligné au centre*/
	padding-top: 140px;	/*détermine l'espacement avec l'objet au dessus*/
	padding-bottom: 40px;	/*détermine l'espacement avec l'objet en dessous*/
}


.bar_nav li{
	padding: 10px;
	display: inline-block;
	padding-top: 25px;
}
#liens_header_right 
{
	float:right;
	padding-right: 25px;
}
#liens_header_left
{
	color: #696969;
	float:left;
	padding-left: 25px;
}

.bar_nav #t_connexion
{
	color: #FFFFFF;
	background: #4169E1;
	border: 10px;
	font-weight: bold;
	padding: 9px 15px;
	border-radius: 3px;
	border-style: hidden;		
}
.bar_nav #t_connexion:hover { 
  box-shadow: 1px 1px 2px #4169E1;
}

a {
  text-decoration: none;
  color: inherit;
}
li.t_liens a:hover {			/*lorsque les éléments de la classe t_liens sont pointés, ils sont soulignés et ecrit en gris foncé  à la place de noir*/
  text-decoration: underline;	
  color: #696969;
}



#input_recherche { 
	
	width: 500px;
	line-height: 25px;
	padding-top: 11px;
	padding-right: 7px;
	padding-left: 25px;
	padding-bottom: 11px;
	
}
.recherche
{
	text-align: center;
}
.recherche input
{
	border: 1px;
	border-color: #F0F0F0;
	border-radius: 50px;
}

.div_boutons {

	text-align: center;
	padding-top: 30px;


}
.boutons:focus
{
	outline: none;
}
.boutons
{
	
	margin: 10px;
	padding: 7px;
	border: solid 1px #F0F0F0;
	border-radius: 4px;
	background: #F0F0F0;	/*Mets le fond en gris pale */	
	color:#696969;
	transition-duration: 0.1s;
	cursor: pointer;
}

.boutons:hover		/*Font= black , background= lighter, border appears (very small n lil rounded)*/
{
	color: #000000;
	border-color: #AAAAAA;
	background: #F4F4F4;
	border-radius: 2px;
}


footer
{
	width: 100%;		/*Force a prendre toute la largeur*/
	background: #F0F0F0;	/*Mets le fond en gris pale */		
	padding-top: 15px;
	border-top: solid 2px #E0E0E0;

}
footer li
{
	display: inline;
	color: #696969;
	background: #F0F0F0;	/*Mets le fond en gris pale */	
	padding: 10px;
	font-size: 15px;
	
}

footer ul	/*Code ici affecte les listes de Footer_Left et Footer_Right*/
{
	background: #F0F0F0;	/*Mets le fond en gris pale */
	padding-bottom: 15px;
}

.Over_footer
{
	position: fixed;
	padding-left: 22px;
	bottom: 45px;	/*Set distance to bottom to 0*/
}
.Under_footer 
{
	position: fixed;
	bottom: 0;	/*Set distance to bottom to 0*/
	text-decoration:none;
}
footer.Under_footer a:hover {			/*lorsque les éléments de la classe under_footer sont pointés, ils sont soulignés */
	text-decoration: underline;	
	color: #696969;
}
.footer_left
{
	float: left;
	padding-left: 22px;
}
.footer_right
{
	float: right;
	padding-right: 22px;
}